/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 26, 2025, 1:38:05 PM
    Author     : admin
*/

.Main{
    -fx-background-color: #121212;
    -fx-padding: 10;
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 20;
}


.title{
    -fx-fill: white;
    -fx-font-size: 50;
    -fx-stroke: #140d0b;
    -fx-stroke-width: 3;
    -fx-effect: dropshadow(three-pass-box, black, 10, 0.0, 0, 1)
}

.Button{
    -fx-font-size: 20;
    -fx-background-color: #ffc0ad;
    -fx-text-fill: whitesmoke;
    -fx-pref-width: 200;
}